body.pff-01,
.pff-01 input,
.pff-01 select,
.pff-01 textarea,
.pff-01 blockquote,
.pff-01 .ui-widget {
  font-family: 'Merriweather', Georgia, Times New Roman, Serif;
}
body.pff-02,
.pff-02 input,
.pff-02 select,
.pff-02 textarea,
.pff-02 blockquote,
.pff-02 .ui-widget {
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, Sans-serif;
}
body.pff-03,
.pff-03 input,
.pff-03 select,
.pff-03 textarea,
.pff-03 blockquote,
.pff-03 .ui-widget {
  font-family: 'Ubuntu', Helvetica Neue, Arial, Sans-serif;
}
body.pff-04,
.pff-04 input,
.pff-04 select,
.pff-04 textarea,
.pff-04 blockquote,
.pff-04 .ui-widget {
  font-family: 'PT Sans', Helvetica Neue, Arial, Sans-serif;
}
body.pff-05,
.pff-05 input,
.pff-05 select,
.pff-05 textarea,
.pff-05 blockquote,
.pff-05 .ui-widget {
  font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif;
}
body.pff-06,
.pff-06 input,
.pff-06 select,
.pff-06 textarea,
.pff-06 blockquote,
.pff-06 .ui-widget {
  font-family: 'Open Sans', Helvetica Neue, Arial, Sans-serif;
}
body.pff-07,
.pff-07 input,
.pff-07 select,
.pff-07 textarea,
.pff-07 blockquote,
.pff-07 .ui-widget {
  font-family: 'Lato', Helvetica Neue, Arial, Sans-serif;
}
body.pff-08,
.pff-08 input,
.pff-08 select,
.pff-08 textarea,
.pff-08 blockquote,
.pff-08 .ui-widget {
  font-family: 'Roboto Condensed', Arial Narrow, Arial, Sans-serif;
}
body.pff-09,
.pff-09 input,
.pff-09 select,
.pff-09 textarea,
.pff-09 blockquote,
.pff-09 .ui-widget {
  font-family: 'Exo', Helvetica Neue, Arial, Sans-serif;
}
body.pff-10,
.pff-10 input,
.pff-10 select,
.pff-10 textarea,
.pff-10 blockquote,
.pff-10 .ui-widget {
  font-family: 'Roboto Slab', Trebuchet MS, Sans-serif;
}
body.pff-11,
.pff-11 input,
.pff-11 select,
.pff-11 textarea,
.pff-11 blockquote,
.pff-11 .ui-widget {
  font-family: 'Raleway', Helvetica Neue, Arial, Sans-serif;
}
body.pff-12,
.pff-12 input,
.pff-12 select,
.pff-12 textarea,
.pff-12 blockquote,
.pff-12 .ui-widget {
  font-family: 'Josefin Sans', Georgia, Times New Roman, Serif;
}
body.pff-13,
.pff-13 input,
.pff-13 select,
.pff-13 textarea,
.pff-13 blockquote,
.pff-13 .ui-widget {
  font-family: Georgia, Times New Roman, Serif;
}
body.pff-14,
.pff-14 input,
.pff-14 select,
.pff-14 textarea,
.pff-14 blockquote,
.pff-14 .ui-widget {
  font-family: 'Playfair Display', Times New Roman, Serif;
}
body.pff-15,
.pff-15 input,
.pff-15 select,
.pff-15 textarea,
.pff-15 blockquote,
.pff-15 .ui-widget {
  font-family: 'Philosopher', Georgia, Times New Roman, Serif;
}
body.pff-16,
.pff-16 input,
.pff-16 select,
.pff-16 textarea,
.pff-16 blockquote,
.pff-16 .ui-widget {
  font-family: 'Oswald', Helvetica Neue, Arial, Sans-serif;
}
body.pff-17,
.pff-17 input,
.pff-17 select,
.pff-17 textarea,
.pff-17 blockquote,
.pff-17 .ui-widget {
  font-family: 'Playfair Display SC', Georgia, Times New Roman, Serif;
}
body.pff-18,
.pff-18 input,
.pff-18 select,
.pff-18 textarea,
.pff-18 blockquote,
.pff-18 .ui-widget {
  font-family: 'Cabin', Helvetica Neue, Arial, Sans-serif;
}
body.pff-19,
.pff-19 input,
.pff-19 select,
.pff-19 textarea,
.pff-19 blockquote,
.pff-19 .ui-widget {
  font-family: 'Noto Sans', Arial, Helvetica Neue, Sans-serif;
}
body.pff-20,
.pff-20 input,
.pff-20 select,
.pff-20 textarea,
.pff-20 blockquote,
.pff-20 .ui-widget {
  font-family: Helvetica Neue, Arial, Sans-serif;
}
body.pff-21,
.pff-21 input,
.pff-21 select,
.pff-21 textarea,
.pff-21 blockquote,
.pff-21 .ui-widget {
  font-family: 'Droid Serif', Georgia, Times, Times New Roman, Serif;
}
body.pff-22,
.pff-22 input,
.pff-22 select,
.pff-22 textarea,
.pff-22 blockquote,
.pff-22 .ui-widget {
  font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif;
}
body.pff-23,
.pff-23 input,
.pff-23 select,
.pff-23 textarea,
.pff-23 blockquote,
.pff-23 .ui-widget {
  font-family: 'Vollkorn', Georgia, Times, Times New Roman, Serif;
}
body.pff-24,
.pff-24 input,
.pff-24 select,
.pff-24 textarea,
.pff-24 blockquote,
.pff-24 .ui-widget {
  font-family: 'Alegreya', Georgia, Times, Times New Roman, Serif;
}
body.pff-25,
.pff-25 input,
.pff-25 select,
.pff-25 textarea,
.pff-25 blockquote,
.pff-25 .ui-widget {
  font-family: 'Noto Serif', Georgia, Times, Times New Roman, Serif;
}
body.pff-26,
.pff-26 input,
.pff-26 select,
.pff-26 textarea,
.pff-26 blockquote,
.pff-26 .ui-widget {
  font-family: 'Crimson Text', Georgia, Times, Times New Roman, Serif;
}
body.pff-27,
.pff-27 input,
.pff-27 select,
.pff-27 textarea,
.pff-27 blockquote,
.pff-27 .ui-widget {
  font-family: 'Gentium Book Basic', Georgia, Times, Times New Roman, Serif;
}
body.pff-28,
.pff-28 input,
.pff-28 select,
.pff-28 textarea,
.pff-28 blockquote,
.pff-28 .ui-widget {
  font-family: 'Volkhov', Georgia, Times, Times New Roman, Serif;
}
body.pff-29,
.pff-29 input,
.pff-29 select,
.pff-29 textarea,
.pff-29 blockquote,
.pff-29 .ui-widget {
  font-family: Times, Times New Roman, Serif;
}
body.pff-30,
.pff-30 input,
.pff-30 select,
.pff-30 textarea,
.pff-30 blockquote,
.pff-30 .ui-widget {
  font-family: 'Fira Sans', Helvetica Neue, Arial, Sans-serif;
}
body.pff-31,
.pff-31 input,
.pff-31 select,
.pff-31 textarea,
.pff-31 blockquote,
.pff-31 .ui-widget {
  font-family: 'Lora', Georgia, Times, Times New Roman, Serif;
}
body.pff-32,
.pff-32 input,
.pff-32 select,
.pff-32 textarea,
.pff-32 blockquote,
.pff-32 .ui-widget {
  font-family: 'Quattrocento Sans', Helvetica Neue, Arial, sans-serif;
}
.hff-01 h1,
.hff-01 h2,
.hff-01 h3,
.hff-01 h4,
.hff-01 h5,
.hff-01 h6,
.hff-01 .title-teaser-text .title,
.sff-01 .site-name,
.sff-01 #subfooter-site-name,
.slff-01 .site-slogan {
  font-family: 'Merriweather', Georgia, Times New Roman, Serif;
}
.hff-02 h1,
.hff-02 h2,
.hff-02 h3,
.hff-02 h4,
.hff-02 h5,
.hff-02 h6,
.hff-02 .title-teaser-text .title,
.sff-02 .site-name,
.sff-02 #subfooter-site-name,
.slff-02 .site-slogan {
  font-family: 'Source Sans Pro', Helvetica Neue, Arial, Sans-serif;
}
.hff-03 h1,
.hff-03 h2,
.hff-03 h3,
.hff-03 h4,
.hff-03 h5,
.hff-03 h6,
.hff-03 .title-teaser-text .title,
.sff-03 .site-name,
.sff-03 #subfooter-site-name,
.slff-03 .site-slogan {
  font-family: 'Ubuntu', Helvetica Neue, Arial, Sans-serif;
}
.hff-04 h1,
.hff-04 h2,
.hff-04 h3,
.hff-04 h4,
.hff-04 h5,
.hff-04 h6,
.hff-04 .title-teaser-text .title,
.sff-04 .site-name,
.sff-04 #subfooter-site-name,
.slff-04 .site-slogan {
  font-family: 'PT Sans', Helvetica Neue, Arial, Sans-serif;
}
.hff-05 h1,
.hff-05 h2,
.hff-05 h3,
.hff-05 h4,
.hff-05 h5,
.hff-05 h6,
.hff-05 .title-teaser-text .title,
.sff-05 .site-name,
.sff-05 #subfooter-site-name,
.slff-05 .site-slogan {
  font-family: 'Roboto', Helvetica Neue, Arial, Sans-serif;
}
.hff-06 h1,
.hff-06 h2,
.hff-06 h3,
.hff-06 h4,
.hff-06 h5,
.hff-06 h6,
.hff-06 .title-teaser-text .title,
.sff-06 .site-name,
.sff-06 #subfooter-site-name,
.slff-06 .site-slogan {
  font-family: 'Open Sans', Helvetica Neue, Arial, Sans-serif;
}
.hff-07 h1,
.hff-07 h2,
.hff-07 h3,
.hff-07 h4,
.hff-07 h5,
.hff-07 h6,
.hff-07 .title-teaser-text .title,
.sff-07 .site-name,
.sff-07 #subfooter-site-name,
.slff-07 .site-slogan {
  font-family: 'Lato', Helvetica Neue, Arial, Sans-serif;
}
.hff-08 h1,
.hff-08 h2,
.hff-08 h3,
.hff-08 h4,
.hff-08 h5,
.hff-08 h6,
.hff-08 .title-teaser-text .title,
.sff-08 .site-name,
.sff-08 #subfooter-site-name,
.slff-08 .site-slogan {
  font-family: 'Roboto Condensed', Arial Narrow, Arial, Sans-serif;
}
.hff-09 h1,
.hff-09 h2,
.hff-09 h3,
.hff-09 h4,
.hff-09 h5,
.hff-09 h6,
.hff-09 .title-teaser-text .title,
.sff-09 .site-name,
.sff-09 #subfooter-site-name,
.slff-09 .site-slogan {
  font-family: 'Exo', Helvetica Neue, Arial, Sans-serif;
}
.hff-10 h1,
.hff-10 h2,
.hff-10 h3,
.hff-10 h4,
.hff-10 h5,
.hff-10 h6,
.hff-10 .title-teaser-text .title,
.sff-10 .site-name,
.sff-10 #subfooter-site-name,
.slff-10 .site-slogan {
  font-family: 'Roboto Slab', Trebuchet MS, Sans-serif;
}
.hff-11 h1,
.hff-11 h2,
.hff-11 h3,
.hff-11 h4,
.hff-11 h5,
.hff-11 h6,
.hff-11 .title-teaser-text .title,
.sff-11 .site-name,
.sff-11 #subfooter-site-name,
.slff-11 .site-slogan {
  font-family: 'Raleway', Helvetica Neue, Arial, Sans-serif;
}
.hff-12 h1,
.hff-12 h2,
.hff-12 h3,
.hff-12 h4,
.hff-12 h5,
.hff-12 h6,
.hff-12 .title-teaser-text .title,
.sff-12 .site-name,
.sff-12 #subfooter-site-name,
.slff-12 .site-slogan {
  font-family: 'Josefin Sans', Georgia, Times New Roman, Serif;
}
.hff-13 h1,
.hff-13 h2,
.hff-13 h3,
.hff-13 h4,
.hff-13 h5,
.hff-13 h6,
.hff-13 .title-teaser-text .title,
.sff-13 .site-name,
.sff-13 #subfooter-site-name,
.slff-13 .site-slogan {
  font-family: Georgia, Times New Roman, Serif;
}
.hff-14 h1,
.hff-14 h2,
.hff-14 h3,
.hff-14 h4,
.hff-14 h5,
.hff-14 h6,
.hff-14 .title-teaser-text .title,
.sff-14 .site-name,
.sff-14 #subfooter-site-name,
.slff-14 .site-slogan {
  font-family: 'Playfair Display', Times New Roman, Serif;
}
.hff-15 h1,
.hff-15 h2,
.hff-15 h3,
.hff-15 h4,
.hff-15 h5,
.hff-15 h6,
.hff-15 .title-teaser-text .title,
.sff-15 .site-name,
.sff-15 #subfooter-site-name,
.slff-15 .site-slogan {
  font-family: 'Philosopher', Georgia, Times New Roman, Serif;
}
.hff-16 h1,
.hff-16 h2,
.hff-16 h3,
.hff-16 h4,
.hff-16 h5,
.hff-16 h6,
.hff-16 .title-teaser-text .title,
.sff-16 .site-name,
.sff-16 #subfooter-site-name,
.slff-16 .site-slogan {
  font-family: 'Cinzel', Georgia, Times New Roman, Serif;
}
.hff-17 h1,
.hff-17 h2,
.hff-17 h3,
.hff-17 h4,
.hff-17 h5,
.hff-17 h6,
.hff-17 .title-teaser-text .title,
.sff-17 .site-name,
.sff-17 #subfooter-site-name,
.slff-17 .site-slogan {
  font-family: 'Oswald', Helvetica Neue, Arial, Sans-serif;
}
.hff-18 h1,
.hff-18 h2,
.hff-18 h3,
.hff-18 h4,
.hff-18 h5,
.hff-18 h6,
.hff-18 .title-teaser-text .title,
.sff-18 .site-name,
.sff-18 #subfooter-site-name,
.slff-18 .site-slogan {
  font-family: 'Playfair Display SC', Georgia, Times New Roman, Serif;
}
.hff-19 h1,
.hff-19 h2,
.hff-19 h3,
.hff-19 h4,
.hff-19 h5,
.hff-19 h6,
.hff-19 .title-teaser-text .title,
.sff-19 .site-name,
.sff-19 #subfooter-site-name,
.slff-19 .site-slogan {
  font-family: 'Cabin', Helvetica Neue, Arial, Sans-serif;
}
.hff-20 h1,
.hff-20 h2,
.hff-20 h3,
.hff-20 h4,
.hff-20 h5,
.hff-20 h6,
.hff-20 .title-teaser-text .title,
.sff-20 .site-name,
.sff-20 #subfooter-site-name,
.slff-20 .site-slogan {
  font-family: 'Noto Sans', Arial, Helvetica Neue, Sans-serif;
}
.hff-21 h1,
.hff-21 h2,
.hff-21 h3,
.hff-21 h4,
.hff-21 h5,
.hff-21 h6,
.hff-21 .title-teaser-text .title,
.sff-21 .site-name,
.sff-21 #subfooter-site-name,
.slff-21 .site-slogan {
  font-family: Helvetica Neue, Arial, Sans-serif;
}
.hff-22 h1,
.hff-22 h2,
.hff-22 h3,
.hff-22 h4,
.hff-22 h5,
.hff-22 h6,
.hff-22 .title-teaser-text .title,
.sff-22 .site-name,
.sff-22 #subfooter-site-name,
.slff-22 .site-slogan {
  font-family: 'Droid Serif', Georgia, Times, Times New Roman, Serif;
}
.hff-23 h1,
.hff-23 h2,
.hff-23 h3,
.hff-23 h4,
.hff-23 h5,
.hff-23 h6,
.hff-23 .title-teaser-text .title,
.sff-23 .site-name,
.sff-23 #subfooter-site-name,
.slff-23 .site-slogan {
  font-family: 'PT Serif', Georgia, Times, Times New Roman, Serif;
}
.hff-24 h1,
.hff-24 h2,
.hff-24 h3,
.hff-24 h4,
.hff-24 h5,
.hff-24 h6,
.hff-24 .title-teaser-text .title,
.sff-24 .site-name,
.sff-24 #subfooter-site-name,
.slff-24 .site-slogan {
  font-family: 'Vollkorn', Georgia, Times, Times New Roman, Serif;
}
.hff-25 h1,
.hff-25 h2,
.hff-25 h3,
.hff-25 h4,
.hff-25 h5,
.hff-25 h6,
.hff-25 .title-teaser-text .title,
.sff-25 .site-name,
.sff-25 #subfooter-site-name,
.slff-25 .site-slogan {
  font-family: 'Alegreya', Georgia, Times, Times New Roman, Serif;
}
.hff-26 h1,
.hff-26 h2,
.hff-26 h3,
.hff-26 h4,
.hff-26 h5,
.hff-26 h6,
.hff-26 .title-teaser-text .title,
.sff-26 .site-name,
.sff-26 #subfooter-site-name,
.slff-26 .site-slogan {
  font-family: 'Noto Serif', Georgia, Times, Times New Roman, Serif;
}
.hff-27 h1,
.hff-27 h2,
.hff-27 h3,
.hff-27 h4,
.hff-27 h5,
.hff-27 h6,
.hff-27 .title-teaser-text .title,
.sff-27 .site-name,
.sff-27 #subfooter-site-name,
.slff-27 .site-slogan {
  font-family: 'Crimson Text', Georgia, Times, Times New Roman, Serif;
}
.hff-28 h1,
.hff-28 h2,
.hff-28 h3,
.hff-28 h4,
.hff-28 h5,
.hff-28 h6,
.hff-28 .title-teaser-text .title,
.sff-28 .site-name,
.sff-28 #subfooter-site-name,
.slff-28 .site-slogan {
  font-family: 'Gentium Book Basic', Georgia, Times, Times New Roman, Serif;
}
.hff-29 h1,
.hff-29 h2,
.hff-29 h3,
.hff-29 h4,
.hff-29 h5,
.hff-29 h6,
.hff-29 .title-teaser-text .title,
.sff-29 .site-name,
.sff-29 #subfooter-site-name,
.slff-29 .site-slogan {
  font-family: 'Volkhov', Georgia, Times, Times New Roman, Serif;
}
.hff-30 h1,
.hff-30 h2,
.hff-30 h3,
.hff-30 h4,
.hff-30 h5,
.hff-30 h6,
.hff-30 .title-teaser-text .title,
.sff-30 .site-name,
.sff-30 #subfooter-site-name,
.slff-30 .site-slogan {
  font-family: Times, Times New Roman, Serif;
}
.hff-31 h1,
.hff-31 h2,
.hff-31 h3,
.hff-31 h4,
.hff-31 h5,
.hff-31 h6,
.hff-31 .title-teaser-text .title,
.sff-31 .site-name,
.sff-31 #subfooter-site-name,
.slff-31 .site-slogan {
  font-family: 'Alegreya SC', Georgia, Times, Times New Roman, Serif;
}
.hff-32 h1,
.hff-32 h2,
.hff-32 h3,
.hff-32 h4,
.hff-32 h5,
.hff-32 h6,
.hff-32 .title-teaser-text .title,
.sff-32 .site-name,
.sff-32 #subfooter-site-name,
.slff-32 .site-slogan {
  font-family: 'Montserrat', Helvetica Neue, Arial, Sans-serif;
}
.hff-33 h1,
.hff-33 h2,
.hff-33 h3,
.hff-33 h4,
.hff-33 h5,
.hff-33 h6,
.hff-33 .title-teaser-text .title,
.sff-33 .site-name,
.sff-33 #subfooter-site-name,
.slff-33 .site-slogan {
  font-family: 'Fira Sans', Helvetica Neue, Arial, Sans-serif;
}
.hff-34 h1,
.hff-34 h2,
.hff-34 h3,
.hff-34 h4,
.hff-34 h5,
.hff-34 h6,
.hff-34 .title-teaser-text .title,
.sff-34 .site-name,
.sff-34 #subfooter-site-name,
.slff-34 .site-slogan {
  font-family: 'Lora', Georgia, Times, Times New Roman, Serif;
}
.hff-35 h1,
.hff-35 h2,
.hff-35 h3,
.hff-35 h4,
.hff-35 h5,
.hff-35 h6,
.hff-35 .title-teaser-text .title,
.sff-35 .site-name,
.sff-35 #subfooter-site-name,
.slff-35 .site-slogan {
  font-family: 'Quattrocento Sans', Helvetica Neue, Arial, sans-serif;
}
.hff-36 h1,
.hff-36 h2,
.hff-36 h3,
.hff-36 h4,
.hff-36 h5,
.hff-36 h6,
.hff-36 .title-teaser-text .title,
.sff-36 .site-name,
.sff-36 #subfooter-site-name,
.slff-36 .site-slogan {
  font-family: 'Julius Sans One', Helvetica Neue, Arial, sans-serif;
}
.maintenance-page .site-name,
.maintenance-page h1, body.maintenance-page,
.maintenance-page .site-slogan {
  font-family: 'Lato', Helvetica Neue, Arial, Sans-serif;
}
