/**
 * @file
 * Visual styles for Scholarly's blocks.
 */
.block {
  padding: 0 0 5px 0;
}
.block.block-page-title-block {
  padding: 0;
}
.header-top-area .block:first-child:last-child,
.header-top-area .block {
  padding: 10px 0;
}

#block-usefullinks {

    padding: 25px;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;

}

#block-views-block-mt-events-block-1 {

    padding: 25px;
    background-color: #fff;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    margin-top: 20px;

}
.header-top-area .block:first-child {
  padding: 20px 0 10px;
}
.header-top-area .block:last-child {
  padding: 10px 0 20px;
}
.block-system-main-block,
#block-highlightedtabs .block,
#block-googlemap,
.block-system-breadcrumb-block,
.block-views-blockmt-slideshow-boxed-width-block-1 {
  padding: 0;
}
#block-highlightedtabs {
  clear: both;
}
.footer-area .block,
.subfooter-area .block {
  padding: 10px 0;
}
.sidebar .block {
  padding: 0 0 40px 0;
 
}
.internal-banner-block {
  margin-bottom: -75px;
}
@media (min-width:768px) {
  .block-superfish,
  .main-navigation .block-menu,
  .header-top-area .block-menu {
    padding: 0 !important;
  }
}
