/**
 * @file
 * Visual styles for the site branding block in Scholarly.
 */
.logo {
  float: left;
  margin-right: 15px;
  display: inline-block;
  max-width: 100%;
}
.logo:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.onscroll .site-name a{
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
  color: #252525;
}
.site-name a {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.1;
  color: #fff;
}
.site-name a:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.onscroll .site-slogan{
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
  color: #252525;
}
.site-slogan {
  font-size: 13px;
  line-height: 1.30;
  color: #fff;
  padding: 0;
  font-weight: 700;
}
@media (min-width:992px) and (max-width:1199px) {

}
@media (max-width:767px) {
  .logo {
    float: none;
    margin-right: 0;
    text-align: center;
    width: 100%;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
    color: #252525;

  }
  .site-name,
  .site-slogan {
    text-align: center;
    color: #252525;

  }
  .site-name a{
    margin: 5px 0 0 0;
    color: #252525;

  }
  .site-slogan {
    padding: 5px 0 0 0;
    color: #252525;

  }
}

/*site branding @footer-area*/
.footer-area .logo {
  margin: 20px auto;
  text-align: center;
  display: block;
  float: none;
  padding: 0;
}
.footer-area .site-name {
  margin-bottom: 0;
  font-size: 28px;
  line-height: 1.5;
}
.footer-area .site-name a {
  font-size: 28px;
  font-weight: 400;
  display: block;
  margin: 20px 0 10px 0;
  line-height: 1.2;
  color: #fff;
}
.footer-area .site-slogan {
  color: #a3a3a3;
  margin-top: -10px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
}
