/* Revolution Slider Boxed Width Styles */
.boxed .view-slideshow-boxed-width .container {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}
.view-mt-slideshow-boxed-width.view {
  border: none;
}
