/* Latest News View */
.view-mt-latest-news .views-row {
  padding: 0;
}
.view-mt-latest-news-block .views-row {
  border-bottom: 1px solid #acacac;
  margin-bottom: 20px;
}
.view-mt-latest-news .views-row-last {
  border-bottom: none;
}
.view-mt-latest-news .views-field-body .field-content {
  padding-bottom: 15px;
}
.view-mt-latest-news .views-field-body .field-content > p {
  display: inline;
}
.view-mt-latest-news .views-field-field-image a {
  width: 130px;
  margin: 5px 20px 22px 0;
  float: left;
}
.footer-area .view-mt-latest-news img {
  width: 100%;
  overflow: hidden;
}
.view-mt-latest-news .views-field-title a {
  font-size: 17px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0;
  margin-top: 5px;
}
.view-mt-latest-news .views-field-created {
  font-size: 0px;
  font-weight: 700;
  color: #707070;
  margin-bottom: 10px;
}
.view-mt-latest-news .more-link {
  margin-left: 150px;
}
@media (max-width: 480px) {
  .view-mt-latest-news .views-row {
    margin-bottom: 40px;
  }
  .view-mt-latest-news img {
    width: 100%;
    float: none;
    overflow: hidden;
  }
}
